.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 0px;
  margin-top: 200px;
}
  
  
  .div1 {
    grid-area: 2 / 1 / 4 / 4;
    background-color: white; /* Fond blanc */
    border-radius: 10px; /* Bordures arrondies */
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.2), 4px 0px 4px rgba(0, 0, 0, 0.2); /* Ombre en haut et à droite */
  }
  
  .div2 {
    grid-area: 1 / 4 / 4 / 6;
    background-image: url("/designer.jpg");
    background-size: cover; /* L'image s'ajuste pour couvrir toute la div */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-position: center center; /* Centre l'image horizontalement et verticalement */
  }

  .timeline{
    position: relative;
    margin: auto;
  }

  .container{
    padding: 10px 30px;
    position: relative;
    width: 45%;
    animation: movedown 1s linear forwards;
    opacity: 0;
  }
  @keyframes movedown {
    0%{
      opacity: 1;
      transform: translateY(-30px);
    }
    100%{
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .container:nth-child(1){
    animation-delay: 0s;
  }
  .container:nth-child(2){
    animation-delay: 1s;
  }
  .container:nth-child(3){
    animation-delay: 2s;
  }
  .container:nth-child(4){
    animation-delay: 3s;
  }
  .container:nth-child(5){
    animation-delay: 4s;
  }
  .container:nth-child(6){
    animation-delay: 5s;
  }

  .text-box{
    padding: 20px 30px;
    background-color: orange;
    position: relative;
    border-radius: 10px;
    font-size: 15px;
  }

  .left-container{
    left: 0;
  }

  .right-container{
    left: 50%;
  }

  .container img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
  }

  .right-container img{
    left: -20px;
  }

  .left-container img{
    right: -24px;
  }

  .timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: black;
    top: 0;
    left: 50%;
    margin-left: -3px;
    animation: moveline 6s linear forwards;
  }
  @keyframes moveline {
    0%{
      height: 0;
    }
    100%{
      height: 100%;
    }
  }

  .text-box h2{
    font-weight: 600;
  }

  .text-box big{
    display: inline-block;
    margin-bottom: 15px;
  }
  
  .left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 20px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid orange;
    right: -15px;
  }

  .right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 20px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid orange;
    left: -15px;
  }
  