.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 0px;
}
  
  
  .div1 {
    grid-area: 2 / 1 / 4 / 4;
    background-color: white; /* Fond blanc */
    border-radius: 10px; /* Bordures arrondies */
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.2), 4px 0px 4px rgba(0, 0, 0, 0.2); /* Ombre en haut et à droite */
  }
  
  .div2 {
    grid-area: 1 / 4 / 4 / 6;
    background-image: url("/designer.jpg");
    background-size: cover; /* L'image s'ajuste pour couvrir toute la div */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-position: center center; /* Centre l'image horizontalement et verticalement */
  }

  .timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
  }

  .container{
    position: relative;
    width: 50%;
    border-radius: 10px; /* Bordures arrondies */
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.2), 4px 0px 4px rgba(0, 0, 0, 0.2); /* Ombre en haut et à droite */
  }

  .text-box{
    padding: 20px 30px;
    background-color: yellow;
    position: relative;
    border-radius: 10px;
    font-size: 15px;
  }

  .left-container{
    left: 0;
  }

  .right-container{
    left: 50%;
  }

  .container img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
  }

  .right-container img{
    left: -20px;
  }
  
  